@font-face {
	font-family: 'Conv_Bauhaus Light';
	src: url('fonts/Bauhaus%20Light.eot');
	src: url('fonts/Bauhaus%20Light.woff') format('woff'), url('fonts/Bauhaus%20Light.ttf') format('truetype'), url('fonts/Bauhaus%20Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'Conv_Bauhaus Light';
	width: 100%;
	margin: 0 auto;
	padding: 0;
	color: #333;
}
.wrap {
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.navbar {
	height: 0;
	position: sticky;
	top: 1em;
	z-index: 1;
	text-align: center;
}
.navbar div {
	border-right: 0.1em solid transparent;
	border-left: 0.1em solid transparent;
	display: inline-block;
}
.navbar a {
	border: 1px solid #333;
	width: 100%;
	color: #333;
	letter-spacing: 0.25em;
	padding: 0.15em 1em;
	text-transform: capitalize;
	text-decoration: none;
	text-align: center;
	transition: all 0.1s ease;
}
.navbar a:hover {
	border-color: rgb(0, 134, 211);
	color: rgb(0, 134, 211);
	padding: 0.5em 1em;
	transition: all 0.1s ease;
}
/* .navbar a:hover {
	border-color: #333;
	background-color: #333;
	color: #fff;
	padding: 0.5em 1em;
	transition: all 0.1s ease;
} */
.logo {
	width: 100%;
	min-height: 100vh;
	position: relative;
}
.logo:before {
	content: '';
	width: 100%;
	min-height: 100vh;
	position: fixed;
	top: 0;
	z-index: -2;
	filter: invert(100%) grayscale(100%);
	/*background: linear-gradient(to right, rgba(0,0, 0, 0.5), rgba(41, 72, 255, 0.3)), url(images/kirpichi_xx.jpg) no-repeat center;*/
	background: url(images/kirpichi_xx.jpg) no-repeat center;
}
.logo:after {
	content: '';
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	z-index: -1;
	opacity: 0.75;
	/*background: linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,1)), url(images/kirpichi.jpg) no-repeat center;*/
	/*background: linear-gradient(0.25turn, rgba(255,255,255,1), rgba(255,255,255,0.15), rgba(255,255,255,1)), url(images/kirpichi.jpg) no-repeat center;*/
	background: url(images/kirpichi.jpg) no-repeat center;
	background-size: cover;
  /*box-shadow: inset 0 0 50vw 0 rgba(255,255,255,1);*/
}
.blocks {
	width: 100%;
	min-height: 100vh;
	position: relative;
	/*box-sizing: border-box;*/
	/*font-size: 0;*/
	display: flex;
	flex-wrap: wrap;
}
.blocks:before {
	width: 100%;
	min-height: 100vh;
	position: fixed;
	top: 0;
	z-index: -1;
	filter: invert(100%) grayscale(100%);
	background: url(images/kirpichi_xx.jpg) no-repeat center;
}
.blocks > div {
	/*border: 1px solid #333;*/
	box-sizing: border-box;
	width: 50%;
	min-height: 50vh;
}
.store-block {
	background: url(images/kirpichi_spb.jpg) no-repeat top left;
	display: flex;
}
.store-block a {
	/*border: 1px solid #333;*/
	width: 55%;
	height: 75%;
}
.album-block {
	display: flex;
	justify-content: flex-end;
}
.album-block a {
	/*border: 1px solid #333;*/
	position: relative;
	width: 50%;
	height: 65%;
	margin: 2%;
}
.album-block a:before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(255,255,255,0) 75%, rgba(255,255,255,1)), url(images/album.jpg) no-repeat top right;
	background-size: cover;
}
.vk-block, .social-block {
	display: flex;
	align-items: flex-end;
}
.social-block {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.social-block div {
	margin: 3.5%;
	display: flex;
	flex-direction: column;
}
.social-block div a {
	margin-bottom: 5%;
}



.vk {
	border: 1px solid #5B7FA6;
	border-radius: 2px;
	/*border-radius: 0.25em;*/
	margin: 5%;
	/*transform: translateY(50%);*/
	/*display: flex;*/
	/*width: 350px !important;*/
}





@media only screen and (max-width: 426px) {
	.logo:before {
		background-size: contain;
	}
}
@media only screen and (max-width: 812px) and (orientation: landscape) {
	.logo:before {
		background-size: contain;
	}
}
